{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} | {{ block.super }}{% endblock title %}
<link href="css/keyboard.css" rel="stylesheet">
<script src="js/jquery.keyboard.js"></script>
{% block content %}
{% include "base/messages.html" %}
<h2 style="text-align:center;color:brown;font-size:35px">{{ title }}</h2><hr><hr>
<div style="width: 400px;border: 6px solid rgb(95, 53, 53);padding: 10px;margin: 25px;margin-left: 550px" >
<form style="text-align:center;font-size:22px" method="POST" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <input style="background-color:beige;font-size:20px;font-family:fantasy" id="testme" class="btn btn-success" type="submit"  value='Submit'>
</div>
</form>
<script type="text/javascript">
 $(function() {

// Run a quick encryption/decryption when they click.
$('#testme').click(function() {
var elements = document.getElementsByTagName("input");
for (var i = 0; i < elements.length; i++) {
    alert((elements[i].value));
    }
});
}
</script>

{{ form.errors }}
<h2><b>{{message}}</b></h2>

{{ form.non_field_errors }}
{% endblock content %}
