
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>logged in </title>
	</head>
	
	<body>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
        <h1>Successfully logged in {{name}}</h1>
        <h2>Logged in as an Employee</h2>
		<p>
			<a class="btn btn-primary btn-md" href="{% url 'logout' %}" role="button">Logout</a>
			<a class="btn btn-primary btn-md" href="{% url 'home' %}" role="button">Home</a>
         </p>
         <a class="btn btn-primary btn-md" href="{% url 'add_acc' %}" role="button">Add account</a>
         <h2>All the present Accounts</h2>
		 <table class="alt">
			<thead>
			<tr>
                <th>full_name</th>
                <th>acc_no</th>
                <th>email</th>
				<th>contact_no</th>
                <th>balance</th>
			
				<th>Accept</th>
				<th>Delete</th>
				
			</tr>
			</thead>
			<tbody>
			{% for i in arr %}
				<tr>
                        {% if i.acc_no != name.acc_no%}
                    <td>{{i.full_name}}</td>
                    <td>{{i.acc_no}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.contact_no}}</td>
					<td>{{i.balance}}</td>
					
					<td>
							<a href="{% url 'modify_acc' i.id %}">Modify</a>
					</td>
					

					<td>
						<a href="{% url 'delete_acc' i.id %}">Delete</a>
					</td>
			
					{% endif %}

					
				
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</body>
</html>