{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} | {{ block.super }}{% endblock title %}

{% block content %}
{% include "base/messages.html" %}
<h2 style="text-align: center;color: darkred;font-size: 30px">Add account for ext users</h2><hr>

{% if messages %}
	<ul class="messages">
	{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
<div style="width: 400px;border: 6px solid rgb(95, 53, 53);padding: 10px;margin: 25px;margin-left: 550px" >
<form style="text-align:center;font-size:22px" method="POST" action="" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form|crispy }}
    <br>
	<input class="btn btn-success" type="submit" value='Submit'>
</div>
</form>
{{ form.errors }}
{{ form.non_field_errors }}
{% endblock content %}