{% extends 'base/base.html' %}

{% block title %} {{ block.super }}{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container" style="padding-top: 50px;">
<div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Banking System</h1>
        <hr>
        <p class="lead text-muted">Home Page</p>
        <p>
          <a class="btn btn-primary btn-md" href="{% url 'signup' %}" role="button">Signup Page</a>
       </p>
        <p>
          <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Login Page</a>
       </p>
      </div>
</div>
</div>

{% endblock content %}
