
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>logged in </title>
	</head>
	<body>
		<h1>Successfully logged in {{name}}</h1>
		<h1>Account No. {{Acc}}</h1>
		
		<h2>Balance {{bal}}</h2>
		<p>
			<a class="btn btn-primary btn-md" href="{% url 'logout' %}" role="button">Logout</a>
			<a class="btn btn-primary btn-md" href="{% url 'transfer' %}" role="button">Transfer Money</a>
			<a class="btn btn-primary btn-md" href="{% url 'addmoney' %}" role="button">Add Money</a>
			<a class="btn btn-primary btn-md" href="{% url 'debitmoney' %}" role="button">Debit Money</a>
			<a class="btn btn-primary btn-md" href="{% url 'modify_acc' %}" role="button">Modify Account </a>

		</p>
		<h2>Transactions</h2>
		 <table class="alt">
			<thead>
			<tr>
				<th>To User</th>
				<th>Account Number</th>
				<th>Status</th>
				<th>Amount</th>
				<th>TXN_type</th>
				
			</tr>
			</thead>
			<tbody>
			{% for i in trns %}
				<tr>
					<td>{{i.toUser.full_name}}</td>
					<td>{{i.toUser}}</td>
					<td>{{i.status}}</td>
					<td>{{i.Amount}}</td>
					<td>{{i.Tr_type}}</td>
				</tr>
			{% endfor %}
			</tbody>

		</table>

		<h2>Modification Requests</h2>
		<table class="alt">
				<thead>
				<tr>
						<th>Full Name</th>
						<th>City</th>
						<th>Contact</th>
						<th>Address</th>
						<th>Email</th>
						<th>Status</th>
				</tr>
				</thead>
				<tbody>
						{% for i in changes %}
							<tr>
								<td>{{i.full_name}}</td>
								<td>{{i.city}}</td>
								<td>{{i.contact_no}}</td>
								<td>{{i.Address}}</td>
								<td>{{i.email}}</td>
								<td>{{i.isModified}}</td>
							</tr>
						{% endfor %}
				</tbody>
		</table>
		<h2>Payment Requests by Merchants</h2>
		<table class="alt">
				<thead>
				<tr>
						<th>Merchant Name</th>
						<th>To Acc No</th>
						<th>Amount</th>
						<th>Status</th>
						<th>Approve</th>
						<th>Decline</th>

				</tr>
				</thead>
				<tbody>
						{% for i in mpay %}
							<tr>
								<td>{{i.full_name}}</td>
								<td>{{i.to_acc_no}}</td>
								<td>{{i.Amount}}</td>
								<td>{{i.status}}</td>
								{% if i.status != "Approved" %}
								{% if i.status != "Declined" %}
								<td>
										<a href="{% url 'approveMReq' i.id %}">Approve</a>
								</td>
								<td>
									<a href="{% url 'declineMReq' i.id %}">Decline</a>
								</td>
								{% endif %}
								{% endif %}
							</tr>
						{% endfor %}
				</tbody>
		</table>
	</body>


</html>