
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>logged in </title>
		<style>
				a:link, a:visited {
					background-color: #422828;
					color: white;
					font-size: 20px;
					padding: 15px 30px;
					text-align: center;
					text-decoration: none;
					display: inline-block;
				}
				
				
				a:hover, a:active {
					background-color: rgb(65, 45, 45);
				}
				</style>
	</head>
	
	<body>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
        <h1 style="text-align:center; font-size:45px">Successfully logged in as {{name.full_name}}</h1>
        <h2 style="text-align:center ; font-size: 30px">Logged in as an {{name.designation}}</h2>
		<p>
			<hr><hr>
			<a  style="margin-left:1350px" class="btn btn-primary btn-md" href="{% url 'logout' %}" role="button">Logout</a>
		 </p>
		 <div >
		 <table rules="all" align="center" style="margin-left:3px;border: 2px solid black;width: 100%;" class="alt">
			<thead>
			<tr>
                <th>From User</th>
                <th>From User Name</th>
                <th>To User</th>
				<th>to User Name</th>
                <th>Status</th>
				<th>Amount</th>
				<th>Transaction type</th>
				<th>Accept</th>
				<th>Decline</th>
				
			</tr>
			</thead>
			<tbody>
			{% for i in trns %}
				<tr>
                    <td>{{i.fromUser.acc_no}}</td>
                    <td>{{i.fromUser.full_name}}</td>
                    <td>{{i.toUser.acc_no}}</td>
                    <td>{{i.toUser.full_name}}</td>
					<td>{{i.status}}</td>
					<td>{{i.Amount}}</td>
					<td>{{i.Tr_type}}</td>
					{% if i.status != "Approved" %}
					{% if i.status != "Rejection" %}
					{% if i.status == "Error_Occured"%}
					<td>
							<a href="{% url 'approve_tx_id' i.id %}">Retry</a>
					</td>
					{% endif %}

					{% if i.status != "Error_Occured"%}
					<td>
							<a href="{% url 'approve_tx_id' i.id %}">Approve</a>
					</td>
					{% endif %}

					<td>
						<a href="{% url 'decline_tx_id' i.id %}">Decline</a>
					</td>
					{% endif %}
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</div>
		</table>
	</body>
</html>