{% extends 'base/base.html' %}

{% block title %} {{ block.super }}{% endblock title %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div style="margin-right:30px" class="container">
	
<div class="jumbotron text-center">
	<div style="float:right">
      <h2 style="color:darkred">Requested Modification</h2>
		 <table rules="all" style="margin-left:3px;border: 1px solid black;width: 100%;"class="alt">
			
			<thead>
			<tr>
                <th>Full Name</th>
                <th>City</th>
				<th>Contact</th>
				<th>Address</th>
				<th>Email</th>
				<th>Accept</th>
				<th>Decline</th>
			</tr>
			</thead>
			<tbody>
			{% for i in changes %}
				<tr>
                    <td>{{i.full_name}}</td>
					<td>{{i.city}}</td>
					<td>{{i.contact_no}}</td>
					<td>{{i.Address}}</td>
					<td>{{i.email}}</td>
					<td><a href="{% url 'approveChangeRequest' i.acc_no %}">Approve</a></td>
					<td><a href="{% url 'declineChangeRequest' i.acc_no %}">Decline</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div style="margin-right:750px" class="float:left">

		<h2 style="margin-left:150px ;color: darkred ">Original </h2>
		<table rules="all" style="margin-left:-10px;border: 1px solid black;width: 100%" class="alt">
		   <thead>
		   <tr>
			   <th >Full Name</th>
			   <th>City</th>
			   <th>Contact</th>
			   <th>Address</th>
			   <th>Email</th>

		   </tr>
		   </thead>
		   <tbody>
		
		   {% for i in users %}
			   <tr>
				   <td>{{i.full_name}}</td>
				   <td>{{i.city}}</td>
				   <td>{{i.contact_no}}</td>
				   <td>{{i.Address}}</td>
				   <td>{{i.email}}</td>
			   </tr>
		   {% endfor %}
		   </tbody>
	   </table>
	</div>
</div>
</div>

{% endblock content %}
