
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Logged in </title>
		<style>
				a:link, a:visited {
					background-color: #4b4747;
					color: white;
					font-size: 20px;
					padding: 15px 30px;
					text-align: center;
					text-decoration: none;
					display: inline-block;
				}
				
				a:hover, a:active {
					background-color: rgb(65, 45, 45);
				}
				</style>
	</head>
	<body>
		<h1 style="text-align:center;color: rgb(71, 69, 69)" >You are successfully Signed in as: {{name}}</h1>
		<h1 style="text-align:center;color: rgb(71, 69, 69)" >Your Account No. is:{{Acc}}</h1>
		<h2 style="text-align:center;color: rgb(71, 69, 69)">Available Balance:- ₹{{bal}}</h2>
		<hr>
		<hr>
		<canvas style="margin-left: 900px" id="qr" style="width:200px;"></canvas>
		<p style="margin-top:-55px;margin-left:500px;font-size: 22px;color: brown">Please Scan the QR code for OTP:</p>
		<script src="{% static 'js/qrious.min.js' %}"></script>
		<script>
			document.cookie='pubk={{pubk}}';
			(function() {
				var qr = new QRious({
					element: document.getElementById('qr'),
					value: '{{ otp }}'
				});
			})();
		</script>
		
		<p>
			<a style="margin-left:550px;margin-top: 50px" class="btn btn-primary btn-md" href="{% url 'logout' %}" role="button">Logout</a>
			<a style="margin-left:100px" class="btn btn-primary btn-md" href="{% url 'transfer' %}" role="button">Transfer Money</a>
		 </p>
	</body>
</html>